#override("content")
<div class="page-container">
<div id="main" style="height:450px;width: auto;"></div>
</div>
#end
#override("js")
<!--请在下方写此页面业务相关的脚本,首先需要引入laypage插件-->
<script type="text/javascript" src="/static/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/echarts/3.4.0/echarts.min.js"></script>
<script type="text/javascript" src="http://data-visual.cn/datav/src/js/echarts/extension/echarts-wordcloud.min.js"></script>
<script type="text/javascript">
var myChart = echarts.init(document.getElementById('main'));
    myChart.showLoading();
    $.ajax({
	    type : "get",
	    async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
	    url : "/AnaySys/getWord.do",    //请求发送到
	    dataType : "json",        //返回数据形式为json
	     success : function(result) { 
             myChart.setOption({        //填入数据
            			    title:{
            			        text:"词云图",
            			        subtext: '数据来源部分弹幕'
            			    },
            			    tooltip: {},
            			    series: [{
            			        type: 'wordCloud',
            			        gridSize: 20,
            			        sizeRange: [12, 50],
            			        rotationRange: [0, 0],
            			        shape: 'circle',
            			        textStyle: {
            			            normal: {
            			                color: function() {
            			                    return 'rgb(' + [
            			                        Math.round(Math.random() * 160),
            			                        Math.round(Math.random() * 160),
            			                        Math.round(Math.random() * 160)
            			                    ].join(',') + ')';
            			                }
            			            },
            			            emphasis: {
            			                shadowBlur: 10,
            			                shadowColor: '#333'
            			            }
            			        },
            			        data: [{
            			        	name: '皮鞋剑谱',value: 100,
            			            textStyle: {
            			                normal: {
            			                    color: 'black'
            			                },
            			                emphasis: {
            			                    color: 'red'
            			                }
            			            }
            			        }, 
            			        {name: '风男风男',value: 100}, 
            			        {name: '米勒',value: 85}, 
            			        {name: '虐菜',value: 30}, 
            			        {name: '狗牌',value: 20}, 
            			        {name: '声音',value: 5}, 
            			        {name: '刷新',value: 80}, 
            			        {name: '经济',value: 75}, 
            			        {name: '姿态',value: 66}, 
            			        {name: '蒙多',value: 78}, 
            			        {name: '版本',value: 26}, 
            			        {name: 'lgd',value: 78}, 
            			        {name: '皮鞋',value: 88}, 
            			        {name: '辛德拉',value: 89}, 
            			        {name: '压力',value: 45}, 
            			        {name: '世界杯',value: 56}, 
            			        {name: '女朋友',value: 100}, 
            			        {name: '寝室',value: 85}, 
            			        {name: '射手',value: 30}, 
            			        {name: '锤子',value: 20}, 
            			        {name: '后遗症',value: 5}, 
            			        {name: '法师',value: 80}, 
            			        {name: '比分',value: 75}, 
            			        {name: '宿舍',value: 66}, 
            			        {name: '时光',value: 78}, 
            			        {name: '娃娃',value: 26}, 
            			        {name: '队友',value: 78}, 
            			        {name: '直播',value: 88}, 
            			        {name: '折磨',value: 89}, 
            			        {name: '优势',value: 45}, 
            			        {name: '开始',value: 56},  
            			        {name: '傻子主播',value: 5}, 
            			        {name: '应该',value: 80}, 
            			        {name: '后悔',value: 75}, 
            			        {name: 'ADC',value: 66}, 
            			        {name: '知道',value: 78}, 
            			        {name: '难受',value: 26}, 
            			        {name: '有意思',value: 78}, 
            			        {name: '性感',value: 88}, 
            			        {name: '失望',value: 89}, 
            			        {name: '失望',value: 45}, 
            			        {name: '央视',value: 56}, 
            			        {name: '比利时',value: 78}]
            			    }]
            			});
            
             myChart.hideLoading();    //隐藏加载动画
	    },
	    error : function(errorMsg) {
		    alert("图表请求数据失败!");
		    myChart.hideLoading();
	    }
	}) 
</script>
#end
#extends("/Home/Layout.vm")